# This file defines the example template of environment variables required to run the backend.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/krypta
SECRET_KEY=supersecretkeychangeinproduction1234567890!
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
